# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
client-1/client/.dart_tool/
client-1/client/.flutter-plugins
client-1/client/.flutter-plugins-dependencies
client-1/client/.packages
client-1/client/.pub-cache/
client-1/client/.pub/
client-1/client/build/

# Symbolication related
client-1/client/app.*.symbols

# Obfuscation related
client-1/client/app.*.map.json

# Android Studio will place build artifacts here
client-1/client/android/app/debug
client-1/client/android/app/profile
client-1/client/android/app/release
client-1/client/ios/Runner.xcodeproj/project.pbxproj
node_modules
